.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}
.navbar-brand {
    margin: 0;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: .5s;
    
img {
    max-width: 100%;
    max-height: 40px;
}
}
.dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}
}
@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        padding: 30px 60px;
        background: transparent !important;
        border-bottom: 1px dashed rgba(256, 256, 256, .2);
        z-index: 9;
    }
    
    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #ffffff !important;
    }
    
    .navbar .navbar-brand {
        color: #ffffff;
    }
    
    .navbar.nav-sticky .navbar-brand {
        color: #EF233C;
    }

    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link:focus {
        padding: 10px 10px 8px 10px;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link,
    .navbar-light.nav-sticky .navbar-nav .nav-link:focus {
        color: #414141;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: #111111;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link:hover,
    .navbar-light.nav-sticky .navbar-nav .nav-link.active {
        color: #EF233C;
    }
}
.hero{
    position: relative;
    width: 100%;
    margin-bottom: 45px;
    padding: 120px 0 0 0;
    overflow: hidden;
    background: linear-gradient(rgba(254,0,255,1.00), rgb(0, 174, 255)), url(../img/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .hero-text{
        p{
            color:#ffffff;
            font-size: 25px;
            font-weight: 600px;
            margin-bottom: 15px;
            }
            h1{
                color:#ffffff;
                font-size: 60px;
                font-weight: 700px;
                letter-spacing: 3px;                
                margin-bottom: 15px;
            }
            .typed-text{
                display: inline-block;
                margin: 0;
                height: 35px;
                color:#ffffff;
                font-size: 35px;
                font-weight: 600px;
            }
    }
    .hero-btn {

    .btn:first-child {
        margin-right: 10px;
    }
    .btn{
    margin-top: 35px;
    color: rgb(0, 174, 255);
    background: #ffffff;
    box-shadow: inset 0 0 0 50px #ffffff;
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(0, 174, 255);
    }
    .btn:hover{
    background: rgb(0, 174, 255);
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: inset 0 0 0 50px rgb(0, 174, 255);
    color: #fff;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}
}
.about{
    background-color: #fff;
    p,h2{
        color: rgb(0, 174, 255);
    }
    a{
            margin-top: 35px;
            color: rgb(0, 174, 255);
            background: #ffffff;
            box-shadow: inset 0 0 0 50px #ffffff;
            padding: 12px 25px;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
            color: rgb(0, 174, 255);
            border: 2px solid rgb(0,174,255);
            }
            a:hover{
            background: rgb(0, 174, 255);
            border: 2px solid transparent;
            border-radius: 0;
            box-shadow: inset 0 0 0 50px rgb(0, 174, 255);
            color: #fff;
            transition: ease-out 0.3s;
            -webkit-transition: ease-out 0.3s;
            -moz-transition: ease-out 0.3s;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            }
    }

@media (min-width: 992px){
.navbar {
    position: absolute;
    width: 100%;
    padding: 30px 60px;
    background: transparent !important;
    border-bottom: 1px dashed rgba(256, 256, 256, .2);
    z-index: 9;
}
}
.skills{
    // background: rgb(253, 168, 253);
    h1{
        color: rgb(0, 174, 255);
        text-align: center;
        margin-left: 500px;

    }
    .box{
        position: relative;
        width: 250px;
        height: 350px;
        border: 1px solid rgb(0,174,255);
        margin-bottom: 30px;
        border-radius: 15px 0px;
        background: white;
        .circle{
            width: 40px;
            height: 40px;
            border: 7px solid rgb(0,174,255);
            border-radius: 100%;
            margin-top: 100px;
            margin-left: 100px;
            .s_circle{
                width: 20px;
                height: 20px;
                background: rgb(0,174,255);
                border-radius: 100%;
                margin-top: 3px;
                margin-left: 3px;
            }
        }
        h2{
            
            margin-top: 20px;
            font-size: 1.4rem;
            text-align: center;
        }
    }
    .box:hover{
        box-shadow: rgba(18, 130, 221, 0.3) 10px 10px, rgba(46, 188, 240, 0.2) 15px 15px;
    }
}
.project{
    background: rgb(181, 229, 252);
    .projects{
        position: relative;
        width: 250px;
        height: 350px;
        border: 1px solid rgb(178, 16, 178);
        margin-bottom: 30px;
        border-radius: 15px 0px;
        text-align: center;
        background: white;
        a{
            text-decoration: none;
            color: rgb(178, 16, 178);
            font-size: 1.7rem;
            margin-top: 200px;
            padding-top: 50px;
        }
    }
    .projects:hover{
        box-shadow: rgb(178, 16, 178) 10px 10px, rgb(178, 16, 178) 15px 15px;
    }
}
.service {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
.service-item {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 0 0 transparent;
    transition: ease-out 0.5s;
}

.service-item:hover {
    box-shadow: inset 800px 0 0 0 rgb(0,174,255);
}

.service-icon {
    position: relative;
    width: 150px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0,174,255);
    background: #ffffff;
 i {
    position: relative;
    font-size: 60px;
    color: rgb(0,174,255);
    transition: .3s;
}
}
.service-item:hover i {
    font-size: 75px;
}

.service-text {
    position: relative;
    width: calc(100% - 120px);
    padding: 0 30px;
 h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 1s;
}

 p {
    margin: 0;
    font-size: 16px;
    transition: 1s;
}
}
.service-item:hover .service-text h3,
.service-item:hover .service-text p {
    color: #ffffff;
}
}
@media (max-width: 575.98px) {
    .service .service-text h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .service .service-text p {
        font-size: 14px;
    }
}
.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
.team-item {
    position: relative;
    background: #ffffff;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: inset 0 0 0 0 transparent;
    transition: ease-out 0.5s;
}
.team-img {
    position: relative;
    width: 50%;
    overflow: hidden;
img {
    position: relative;
    width: 100%;
    transition: .5s;
}
}
.team-text {
    position: relative;
    width: 50%;
    padding: 0 30px;
 h2 {
    color: rgb(0,174,255);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    transition: 1s;
}
h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    transition: 1s;
}

p {
    margin-bottom: 20px;
    transition: 1s;
}
}
.team-social {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
a.btn {
    width: 35px;
    height: 35px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: normal;
    margin-right: 5px;
}
}
}
.team .team-item:hover {
    box-shadow: inset 800px 0 0 0 rgb(0,174,255);
}

.team .team-item:hover .team-img img {
    transform: scale(1.2);
}

.team .team-item:hover .team-text h2,
.team .team-item:hover .team-text h4,
.team .team-item:hover .team-text p {
    color: #ffffff;
}

.team .team-item:hover .team-social a.btn {
    background: #ffffff;
}

.team .team-item:hover .team-social a.btn:hover {
    border-color: #ffffff;
}

@media(max-width: 575.98px) {
    .team .team-text {
        padding: 0 15px;
    }
    
    .team .team-text h2 {
        font-size: 16px;
        margin-bottom: 0;
    }

    .team .team-text h4 {
        margin-bottom: 5px;
    }

    .team .team-text p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }
}
.contact {
    position: relative;
    width: 100%;
    margin: 45px 0;
    background: rgb(0,174,255);
.container-fluid {
    background: url(../img/contact.jpg) left center no-repeat;
    background-size: contain;
}

.contact-form {
    position: relative;
    padding: 90px 0 90px 45px;
    background: rgb(0,174,255);
input {
    color: #ffffff;
    padding: 15px 0;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(256, 256, 256, .5);
textarea {
    color: #ffffff;
    height: 90px;
    padding: 15px 0;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(256, 256, 256, .5);
}
}
}
}
.contact .contact-form .form-control::placeholder {
    color: #ffffff;
    opacity: 1;
}

.contact .contact-form .form-control:-ms-input-placeholder,
.contact .contact-form .form-control::-ms-input-placeholder {
    color: #ffffff;
}

.contact .contact-form .btn {
    margin-top: 35px;
    color: rgb(0,174,255);
    background: #ffffff;
    box-shadow: inset 0 0 0 50px #ffffff;
}

.contact .contact-form .btn:hover {
    color: #ffffff;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ffffff;
    border-color: #ffffff;
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
    font-style: italic;
    color: #ffffff;
}

@media (max-width: 767.98px) {
    .contact .container-fluid {
        background: none;
    }
    
    .contact .contact-form {
        padding: 90px 0;
    }
}

.footer {
    position: relative;
    margin-top: 45px;
    background-color: rgb(99, 42, 243);
.container-fluid {
    padding: 60px 0 0 0;
}
.footer-info {
    position: relative;
    width: 100%;
    text-align: center;
 h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}
 h3 {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}
}
.footer-menu {
    width: 100%;
    display: flex;
    justify-content: center;
p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    padding: 0 15px;
    border-right: 1px solid #ffffff;
}
p:last-child {
    border: none;
}
}
.footer-social {
    position: relative;
    margin-top: 15px;
 a {
    display: inline-block;
}
 i {
    margin-right: 15px;
    font-size: 20px;
    color: #ffffff;
    transition: .3s;
}

a:last-child i {
    margin: 0;
}

a:hover i {
    color: #414141;
}
}
.copyright {
    position: relative;
    text-align: center;
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.copyright::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 1px;
    top: 0;
    left: 25%;
    background: rgba(256, 256, 256, .2);
}

.copyright p {
    margin: 0;
    color: #ffffff;
a {
    color: #ffffff;
    font-weight: 600;
}
}
.copyright p a:hover {
    color: #414141;
}
}
@media (max-width: 575.98px) {
    .footer .footer-info h2 {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    .footer .footer-info h3 {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .footer .footer-menu p {
        font-size: 16px;
        line-height: 16px;
        padding: 0 5px;
    }
}
